@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

.container-destination {
  background-image: url('./assets/destination/background-destination-desktop.jpg');
  width: 1440px;
  height: 900px;
  position: relative;
}

.container-crew {
  background-image: url('./assets/crew/background-crew-desktop.jpg');
  width: 1440px;
  height: 900px;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  width: 1385px;
  height: 96px;
  left: 55px;
  top: 40px;
}

nav {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  padding: 40px 50px 20px 30px;
}

nav ul {
  display: flex;
}

li {
  color: #fff;
  list-style: none;
  padding-right: 20px;
  cursor: pointer;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.7px;
}


hr {
  position: absolute;
  width: 473px;
  height: 1px;
  left: 167px;
  top: 50px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.logo {
  cursor: pointer;
  padding-top: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}

.pick {
  position: absolute;
  width: 382px;
  height: 34px;
  left: 166.5px;
  top: 212px;
}

.pick p {
  position: absolute;
  height: 34px;
  left: 14.14%;
  right: 1.57%;
  top: calc(50% - 34px/2);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #FFFFFF
}

.pick span {
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.descript {
  position: absolute;
  height: 128px;
  left: 0%;
  right: 0.22%;
  top: calc(50% - 128px/2 + 28px);
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
}

.left-footer {
  position: absolute;
  left: 0.11%;
  right: 67.75%;
  top: 87.08%;
  bottom: 0%;
}

.average-left {
  position: absolute;
  height: 17px;
  left: 0%;
  right: 32.17%;
  top: calc(50% - 17px/2 - 22px);
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #D0D6F9;
}

.distance-left {
  position: absolute;
  height: 32px;
  left: 0%;
  right: 0%;
  top: calc(50% - 32px/2 + 14.5px);
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.right-footer {
  position: absolute;
  left: 50%;
  right: 22.58%;
  top: 87.08%;
  bottom: 0%;
}

.average-right {
  position: absolute;
  height: 17px;
  left: 0%;
  right: 3.28%;
  top: calc(50% - 17px/2 - 22px);
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #D0D6F9;
}

.distance-right {
  position: absolute;
  height: 32px;
  left: 0%;
  right: 25.41%;
  top: calc(50% - 32px/2 + 14.5px);
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.planet-pic {
  position: absolute;
  width: 445px;
  height: 445px;
  left: 230px;
  top: 343px;
}

.planet-info {
  position: absolute;
  width: 445px;
  height: 472px;
  left: 832px;
  top: 310px;
}
.planet-info a {
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.planet-name {
  position: absolute;
  height: 115px;
  left: 0.11%;
  right: 25.06%;
  top: calc(50% - 115px/2 - 107.5px);
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.meet {
  position: absolute;
  width: 286px;
  height: 34px;
  left: 166.5px;
  top: 212px;
}

.meet p{
  position: absolute;
  height: 34px;
  left: 18.88%;
  right: 1.4%;
  top: calc(50% - 34px/2);
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
}

.meet span {
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.job-title {
  position: absolute;
  width: 309px;
  height: 37px;
  left: 165.5px;
  top: 400px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.crew-name {
  position: absolute;
  width: 614px;
  height: 64px;
  left: 165.5px;
  top: 452px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.crew-descript {
  position: absolute;
  width: 444px;
  height: 128px;
  left: 165px;
  top: 543px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
}

.crew-img {
  position: absolute;
  width: 453.44px;
  height: 654px;
  left: 800px;
  top: 246px;
  background-repeat: no-repeat;
}

.crew-nav a {
  border-radius: 50%;
}

.specialist-circle{
  position: absolute;
  width: 15px;
  height: 15px;
  left: 167px;
  top: 791px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.17;
}

.pilot-circle {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 206px;
  top: 791px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.17;
}

.engineer-circle {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 245px;
  top: 791px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.17;
}

.commander-circle {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 284px;
  top: 791px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.17;
}

.dot:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}